body{
text-align: center;  

}
.btn{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 15%;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.container{

    display: flex;
    justify-content: center;
   
}
.color1{
    background-color: rgba(15, 255, 175, 0.862);
}
.color2{ 
        background-color: rgb(211, 245, 39);
}
.color3{
     background-color: rgb(255, 89, 0);
}
.color4{
     background-color: rgb(102, 155, 230);
}

.flash{
    background-color: rgba(225, 224, 210, 0.819);
}
.user{
    background-color: rgb(7, 238, 26);
}